*.obj
*.exp
*.lib
*.pdb
*.ilk
*.res
*.log
*.exe
*.dll
*.manifest
!ufo_mod_manager.exe.manifest
dist/
.vs/
*.user
third_party/*.zip
third_party/*.tar.gz
third_party/lua51/
third_party/miniz/
third_party/puff/
